<a href="https://colab.research.google.com/github/abhishektyagi0020/c-codes/blob/main/Netflix_tv_show_and_movies_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [ ]:
ds=pd.read_csv('titles.csv')

In [ ]:
print(ds)

             id                                title   type  \
0      ts300399  Five Came Back: The Reference Films   SHOW
1       tm84618                          Taxi Driver  MOVIE
2      tm127384      Monty Python and the Holy Grail  MOVIE
3       tm70993                        Life of Brian  MOVIE
4      tm190788                         The Exorcist  MOVIE
...         ...                                  ...    ...
5801  tm1014599                            Fine Wine  MOVIE
5802  tm1108171                       Edis Starlight  MOVIE
5803  tm1045018                                Clash  MOVIE
5804  tm1098060                       Shadow Parties  MOVIE
5805   ts271048   Mighty Little Bheem: Kite Festival   SHOW

                                            description  release_year  \
0     This collection includes 12 World War II-era p...          1945
1     A mentally unstable Vietnam War veteran works ...          1976
2     King Arthur, accompanied by his squire, recrui...          1975
3     Brian Cohen is an average young Jewish man, bu...          1979
4     12-year-old Regan MacNeil begins to adapt an e...          1973
...                                                 ...           ...
5801  A beautiful love story that can happen between...          2021
5802  Rising star Edis's career journey with ups and...          2021
5803  A man from Nigeria returns to his family in Ca...          2021
5804  A family faces destruction in a long-running c...          2021
5805  With winter behind them, Bheem and his townspe...          2021

     age_certification  runtime                             genres  \
0                TV-MA       48                  ['documentation']
1                    R      113                 ['crime', 'drama']
2                   PG       91              ['comedy', 'fantasy']
3                    R       94                         ['comedy']
4                    R      133                         ['horror']
...                ...      ...                                ...
5801               NaN      100               ['romance', 'drama']
5802               NaN       74         ['music', 'documentation']
5803               NaN       88                ['family', 'drama']
5804               NaN      116             ['action', 'thriller']
5805               NaN        0  ['family', 'comedy', 'animation']

     production_countries  seasons     imdb_id  imdb_score  imdb_votes  \
0                  ['US']      1.0         NaN         NaN         NaN
1                  ['US']      NaN   tt0075314         8.3    795222.0
2                  ['GB']      NaN   tt0071853         8.2    530877.0
3                  ['GB']      NaN   tt0079470         8.0    392419.0
4                  ['US']      NaN   tt0070047         8.1    391942.0
...                   ...      ...         ...         ...         ...
5801               ['NG']      NaN  tt13857480         6.9        39.0
5802                   []      NaN         NaN         NaN         NaN
5803         ['NG', 'CA']      NaN  tt14620732         6.5        32.0
5804                   []      NaN  tt10168094         6.2         9.0
5805                   []      1.0  tt13711094         8.8        16.0

      tmdb_popularity  tmdb_score
0               0.600         NaN
1              27.612         8.2
2              18.216         7.8
3              17.505         7.8
4              95.337         7.7
...               ...         ...
5801            0.966         NaN
5802            1.036         8.5
5803            0.709         NaN
5804            2.186         NaN
5805            0.979        10.0

[5806 rows x 15 columns]

In [ ]:
ds.info() # infromation and datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5806 entries, 0 to 5805
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5806 non-null   object
 1   title                 5805 non-null   object
 2   type                  5806 non-null   object
 3   description           5788 non-null   object
 4   release_year          5806 non-null   int64
 5   age_certification     3196 non-null   object
 6   runtime               5806 non-null   int64
 7   genres                5806 non-null   object
 8   production_countries  5806 non-null   object
 9   seasons               2047 non-null   float64
 10  imdb_id               5362 non-null   object
 11  imdb_score            5283 non-null   float64
 12  imdb_votes            5267 non-null   float64
 13  tmdb_popularity       5712 non-null   float64
 14  tmdb_score            5488 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 680.5+ KB

In [ ]:
ds.head # display first 5 rows

<bound method NDFrame.head of              id                                title   type  \
0      ts300399  Five Came Back: The Reference Films   SHOW
1       tm84618                          Taxi Driver  MOVIE
2      tm127384      Monty Python and the Holy Grail  MOVIE
3       tm70993                        Life of Brian  MOVIE
4      tm190788                         The Exorcist  MOVIE
...         ...                                  ...    ...
5801  tm1014599                            Fine Wine  MOVIE
5802  tm1108171                       Edis Starlight  MOVIE
5803  tm1045018                                Clash  MOVIE
5804  tm1098060                       Shadow Parties  MOVIE
5805   ts271048   Mighty Little Bheem: Kite Festival   SHOW

                                            description  release_year  \
0     This collection includes 12 World War II-era p...          1945
1     A mentally unstable Vietnam War veteran works ...          1976
2     King Arthur, accompanied by his squire, recrui...          1975
3     Brian Cohen is an average young Jewish man, bu...          1979
4     12-year-old Regan MacNeil begins to adapt an e...          1973
...                                                 ...           ...
5801  A beautiful love story that can happen between...          2021
5802  Rising star Edis's career journey with ups and...          2021
5803  A man from Nigeria returns to his family in Ca...          2021
5804  A family faces destruction in a long-running c...          2021
5805  With winter behind them, Bheem and his townspe...          2021

     age_certification  runtime                             genres  \
0                TV-MA       48                  ['documentation']
1                    R      113                 ['crime', 'drama']
2                   PG       91              ['comedy', 'fantasy']
3                    R       94                         ['comedy']
4                    R      133                         ['horror']
...                ...      ...                                ...
5801               NaN      100               ['romance', 'drama']
5802               NaN       74         ['music', 'documentation']
5803               NaN       88                ['family', 'drama']
5804               NaN      116             ['action', 'thriller']
5805               NaN        0  ['family', 'comedy', 'animation']

     production_countries  seasons     imdb_id  imdb_score  imdb_votes  \
0                  ['US']      1.0         NaN         NaN         NaN
1                  ['US']      NaN   tt0075314         8.3    795222.0
2                  ['GB']      NaN   tt0071853         8.2    530877.0
3                  ['GB']      NaN   tt0079470         8.0    392419.0
4                  ['US']      NaN   tt0070047         8.1    391942.0
...                   ...      ...         ...         ...         ...
5801               ['NG']      NaN  tt13857480         6.9        39.0
5802                   []      NaN         NaN         NaN         NaN
5803         ['NG', 'CA']      NaN  tt14620732         6.5        32.0
5804                   []      NaN  tt10168094         6.2         9.0
5805                   []      1.0  tt13711094         8.8        16.0

      tmdb_popularity  tmdb_score
0               0.600         NaN
1              27.612         8.2
2              18.216         7.8
3              17.505         7.8
4              95.337         7.7
...               ...         ...
5801            0.966         NaN
5802            1.036         8.5
5803            0.709         NaN
5804            2.186         NaN
5805            0.979        10.0

[5806 rows x 15 columns]>

In [ ]:
ds.shape # data structure

(5806, 15)

In [ ]:
ds.describe() # stastis detaisl data

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5806.000000,5806.000000,2047.000000,5283.000000,5.267000e+03,5712.000000,5488.000000
mean,2016.013434,77.643989,2.165608,6.533447,2.340719e+04,22.525660,6.818039
std,7.324883,39.474160,2.636207,1.160932,8.713432e+04,68.849177,1.171560
min,1945.000000,0.000000,1.000000,1.500000,5.000000e+00,0.009442,0.500000
25%,2015.000000,44.000000,1.000000,5.800000,5.210000e+02,3.155250,6.100000
50%,2018.000000,84.000000,1.000000,6.600000,2.279000e+03,7.478000,6.900000
75%,2020.000000,105.000000,2.000000,7.400000,1.014400e+04,17.775750,7.500000
max,2022.000000,251.000000,42.000000,9.600000,2.268288e+06,1823.374000,10.000000

In [ ]:
ds.duplicated().sum() # find duplicates in dataset

0

In [ ]:
ds.isnull().sum() # check null values in dataset

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2610
runtime                    0
genres                     0
production_countries       0
seasons                 3759
imdb_id                  444
imdb_score               523
imdb_votes               539
tmdb_popularity           94
tmdb_score               318
dtype: int64

In [ ]:
ds.drop(['description','imdb_id','imdb_votes','imdb_score'],axis=1 ,inplace=True) # remove cols not need to analysis

In [ ]:
ds.head(2) # first 2 rows print

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,27.612,8.2

In [ ]:
ds.dropna(axis=0,how='any', inplace=True)
ds.isnull().sum() #remove null records

id                      0
title                   0
type                    0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
tmdb_popularity         0
tmdb_score              0
dtype: int64

In [ ]:
ds.shape

(1683, 11)